<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjJ2Q1k_lThV5AInGZQ-64IyfgfVpPu78</string>
	<key>GCM_SENDER_ID</key>
	<string>388155472247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.protfolio</string>
	<key>PROJECT_ID</key>
	<string>protfolio-3f81e</string>
	<key>STORAGE_BUCKET</key>
	<string>protfolio-3f81e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388155472247:ios:d109640d697c3e379ac972</string>
</dict>
</plist>